{% extends "index.html" %}

{% block title %}
    <title>Identificar Animal</title>
{% endblock %}

{% block conteudo %}
    <h1>Identificar Animal</h1>
    <div class="content">
        <form action="/identify_animal" method="post">
            <label for="color">Cor:</label>
            <input type="text" id="color" name="color" required><br><br>
            <label for="size">Tamanho:</label>
            <input type="text" id="size" name="size" required><br><br>
            <label for="sound">Som:</label>
            <input type="text" id="sound" name="sound" required><br><br>
            <input class="submit-btn" type="submit" value="Identificar">
        </form>  
    </div>
    
{% endblock %}

    

